* {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, rgb(25, 23, 23) 79%, rgb(125, 124, 124) 100%);
  display: flex;
  flex-direction: row;
  padding: 2%;
  justify-content: space-between;
  font-family: "space grotesk", sans-serif;
}
header h1 {
  color: #F1EFEF;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
}

.menu ul a {
  color: #F1EFEF;
  font-size: 30px;
}
.menu ul a:hover {
  color: #CCC8AA;
}

main {
  background-color: hsl(0, 0%, 14%);
}
main h2 {
  font-family: "space grotesk", sans-serif;
  color: #F1EFEF;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  padding: 1%;
}
main h3 {
  font-family: "space grotesk", sans-serif;
  color: #F1EFEF;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  margin: 5px;
}
main img {
  border-radius: 10px;
}

p {
  color: #CCC8AA;
  font-size: 25px;
  text-align: center;
  margin: 0% 2% 0% 2%;
  padding: 1%;
}

footer {
  background-color: #191717;
}
footer ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}
footer li a {
  color: #F1EFEF;
  font-size: 50px;
}

.sectionInicioPagina {
  margin: 0% 2% 0% 2%;
}
.sectionInicioPagina div {
  text-align: center;
  padding: 2%;
}

.sectionMitologia {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  border-top: #CCC8AA double 3px;
  padding: 2%;
  margin: 0% 2% 0% 2%;
}
.sectionMitologia .listaDioses {
  font-size: 20px;
  color: #F1EFEF;
}

@media (max-width: 1200px) {
  .sectionMitologia {
    flex-flow: column nowrap;
  }
  .sectionMitologia img {
    width: 100%;
    height: 100%;
  }
}
.historiaSection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0% 2% 0% 2%;
  padding: 2%;
  border-bottom: #CCC8AA double 3px;
}

#urano {
  flex-flow: row wrap;
  justify-content: center;
}

.historiaSection3img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-bottom: #CCC8AA double 3px;
  margin: 0% 2% 0% 2%;
  padding: 2%;
}

#hijosZeus {
  flex-wrap: wrap;
}

.listaHistoria {
  display: flex;
  flex-flow: column nowrap;
  color: #F1EFEF;
  align-items: center;
  font-size: 20px;
  text-align: center;
}
.listaHistoria li {
  margin: 0% 2% 0% 2%;
  list-style-type: lower-greek;
}

.historiaSectionGrid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 33, 3%);
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  border-bottom: #CCC8AA double 3px;
  margin: 0% 2% 0% 2%;
}

.herculesh3 {
  margin: 2%;
  font-size: 30px;
  border: #CCC8AA outset 2px;
  padding: 1% 1%;
}

#odisea {
  flex-flow: column wrap;
  border-bottom: transparent;
}

.historiaSection div a {
  font-size: 30px;
  text-align: center;
  color: #F1EFEF;
}
.historiaSection div a:hover {
  color: #F2E7D5;
  font-style: italic;
  background-color: #191717;
  border: #CCC8AA outset 2px;
}

@media (max-width: 1200px) {
  .historiaSection {
    flex-flow: column nowrap;
  }
  .historiaSection img {
    width: 100%;
  }
  .historiaSection3img {
    flex-flow: column nowrap;
  }
  .historiaSection3img img {
    width: 100%;
  }
  .historiaSectionGrid {
    display: flex;
    flex-direction: column;
  }
}
#carouselGaleriaDioses h2 {
  font-size: 40px;
}
#carouselGaleriaDioses div img {
  width: 600px;
  height: 700px;
  object-fit: contain;
  margin-bottom: 2%;
}
#carouselGaleriaDioses p {
  border: #CCC8AA outset 2px;
  background-color: #191717;
}

#carouselGaleriaHeroes h2 {
  font-size: 40px;
}
#carouselGaleriaHeroes div img {
  width: 600px;
  height: 700px;
  object-fit: contain;
  margin-bottom: 2%;
}
#carouselGaleriaHeroes p {
  border: #CCC8AA outset 2px;
  background-color: #191717;
}

@media (max-width: 1200px) {
  #carouselGaleriaDioses div img {
    height: 100%;
    width: 100%;
  }
  #carouselGaleriaHeroes div img {
    height: 100%;
    width: 100%;
  }
}
.gridMedia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 45px;
  border-bottom: #CCC8AA double 3px;
  padding: 1%;
}
.gridMedia iframe {
  border: #CCC8AA outset 2px;
  padding: 5px;
}
.gridMedia h3 {
  font-size: 35px;
  text-align: center;
  background-color: #191717;
  border: #CCC8AA outset 2px;
  color: #F1EFEF;
  padding: 5px;
}
.gridMedia a {
  font-size: 25px;
  text-align: start;
  color: #F1EFEF;
  margin: 2%;
}
.gridMedia a:hover {
  color: #CCC8AA;
  background-color: #191717;
  border: #CCC8AA outset 2px;
}
.gridMedia .linkMedia {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (max-width: 1200px) {
  .gridMedia {
    display: flex;
    flex-flow: column nowrap;
  }
  .gridMedia iframe {
    width: 100%;
    height: 100%;
  }
}
.gridProductos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  padding: 1%;
}
.gridProductos a {
  font-size: 25px;
  color: #F1EFEF;
}
.gridProductos a:hover {
  color: #CCC8AA;
}

@media (max-width: 1200px) {
  .gridProductos {
    display: flex;
    flex-flow: column nowrap;
  }
}
.sectionExterna {
  text-align: justify;
  margin-left: 4%;
  margin-right: 4%;
  border: #CCC8AA outset 2px;
  padding: 2%;
}

.btn {
  background-color: #CCC8AA;
  color: #F1EFEF;
  border: #CCC8AA outset 2px;
}
.btn:hover {
  color: #191717;
  background-color: #CCC8AA;
  border: #CCC8AA outset 2px;
}
.btn:active {
  color: #F1EFEF;
  background-color: #CCC8AA;
  border: #CCC8AA outset 2px;
}
.btn:focus {
  color: #F1EFEF;
  background-color: #CCC8AA;
  border: #CCC8AA outset 2px;
}
.btn:focus-within {
  color: #F1EFEF;
  background-color: #CCC8AA;
  border: #CCC8AA outset 2px;
}

a:any-link {
  text-decoration: transparent;
}

@media (max-width: 500px) {
  p {
    font-size: large;
  }
}

/*# sourceMappingURL=styles.css.map */
