
//header
header{
    background: linear-gradient(90deg, rgba(25,23,23,1) 79%, rgba(125,124,124,1) 100%);
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
    font-family: "space grotesk" , sans-serif;
        h1{
            color: $blanco;
            font-size: 40px;
            text-align: center;
            padding-top: 10px;
        }
}
.menu{
        ul{
            a{
                color: $blanco;
                font-size: 30px;
                &:hover{
                        color: $dorado;
                    }
            }
        }
    }
.navbar-toggler{
        background-color:$negro;
        border: solid $negro 2px;
        margin-top: 8%;
   }
.navbar-toggler-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241,239,239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
       border: solid 1px $blanco;
       border-radius: 14%;
   }
//main
main{
    background-color: hsl(0,0%,14%);
        h2{
            font-family: "space grotesk" , sans-serif;
            color: $blanco;
            font-size: 30px;
            text-align: center;
            font-style: italic;
            padding: 1%;
    }
        h3{
            font-family: "space grotesk" , sans-serif;
            color: $blanco;
            font-size:25px;
            font-style: italic;
            text-align: center;
            margin: 5px;
        }
        img{
            border-radius: 10px;
        }
}
p{
    color: $dorado;
    font-size: 25px;
    text-align: center;
    margin: $margen;
    padding: 1%;
}
//footer
footer {
    background-color: $negro;
    ul{
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0rem;
    }
    li{
        padding-top: 10px;
        a{
            color: $blanco;
            font-size: 50px;
        }
    }
}
@media(max-width:500px){
    p{
        font-size:large;
        text-align: justify;
    }
}