//pagina de productos
.gridProductos{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(5 , 1fr );
    align-items: center;
    justify-items: center;
    row-gap: 30px;
    padding: 1%;
    a{
        background-color: $negro;
        padding: 2px 25px;
        border-radius: 15px;
        font-size: 25px;
        color: $blanco;
         &:hover{
             color: $dorado;
             box-shadow: 2px 2px 10px $dorado;
         }
    }
    div{
        display: flex;
        flex-flow: column nowrap;
        align-items:center;
        margin-top: 2%;
    }
}
@media (max-width:700px){
    .gridProductos{
        display: flex;
        flex-flow: column nowrap;
        img{
            width: 100%;
        }
    }
}

